.Title {
    visibility: visible;
    display: block;
}

.Tagline {
    margin-top: -0.5%;
    text-align: center;
}

.Body {
    margin-top: -0.5%;
}

@media only screen and (max-width: 768px) {
    .Title {
      visibility: visible;
      display: block;
    }
}